body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 96px;
}

.header .header-logo {
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
    font: italic normal lighter 36px 'Roboto', sans-serif;
    color: #1F2937;
    text-align: center;
    padding: 56px;
}

.quote .quote-author {
    text-align: right;
    padding-right: 56px;
}

.action-area, .sign-up {
    background-color: #3882F6;
    color: white;  
    font-size: 24px;
}

.action-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    max-width: 1200px;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px
}

.sign-up {
    border-radius: 10px;
    padding: 8px 32px;
}

.action-texts .action-text-1 {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 32px;
}